<center>
<%= form_for @rating do |f| %>
  <div>
    <%=f.label :description %>
    <%= f.text_field :description %><br />
  </div>

  <%=  collection_select(:rating, :car_id, Car.all, :id, :id) %><br>
  <div>

    <%= f.submit %>
  </div>
<%end%>
</center>
